<html>

<head>
    <link rel="stylesheet" href="public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- Title %></title>
    <script>
        <%- tarjs %>
    </script>
</head>

<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <div class="h-screen w-screen flex bg-gray-200">
        <!-- container -->

        <aside class="w-16 hidden lg:flex flex-col items-center bg-white text-gray-700 shadow h-full">
            <!-- Side Nav Bar-->
            <div class="h-16 flex items-center w-full">
                <!-- Logo Section -->
                <a class="h-6 w-6 mx-auto" href="http://svelte.dev/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                    </svg>
                </a>
            </div>
        </aside>

        <div class="flex-1 flex flex-col">
            <nav class="px-4 flex justify-between bg-white h-16 border-b-2">
                <!-- top bar -->

                <ul class="flex items-center lg:hidden">
                    <!-- top bar left -->
                    <li class="h-6 w-6">
                        <!-- Logo Section -->
                        <a class="h-6 w-6 mx-auto" href="http://svelte.dev/">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                            </svg>
                        </a>
                    </li>
                </ul>

                <ul class="flex items-center">
                    <!-- top bar center -->
                    <li>
                        <h1 class="pl-10 lg:pl-0 text-gray-700"><%- Title %></h1>
                    </li>
                </ul>

            </nav>
            <div id="container" class="overflow-y-auto p-8 relative"><%-content %></div>
        </div>

        <!-- offcanvas -->
        <div id="offcanvas" class="absolute top-0 left-0 w-96 h-screen bg-white border-b-2 invisible
        transition duration-1000 ease-out opacity-0">
            aiueo
            <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
                onclick="this.parentNode.classList.add('opacity-0','invisible','left-9');this.parentNode.classList.remove('opacity-100','visible','left-0');">
                <span>×</span>
            </button>
        </div>


    </div>
</body>
</html>